* {

  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

}


.container {
  background: whitesmoke;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h1 {
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 28px;
  text-shadow: 2px 2px 2px 4px (rgba(0, 0, 0, 0.5));
}

input[type='color'] {

  width: 100px;
  margin: 20px;
}

.image {
  width: 200px;
  height: 200px;
}