h1 {
    color: purple;
    font-family: arial
}

.container1{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: flex-start
}
.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: solid 2px black;
    background-color: orange;
}
.container2{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: flex-end 
} 
.container3{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: center
} 
.container4{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: space-between
}
.container5{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: space-around
}
.container6{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: space-evenly
}
