h1 {
    color: purple;
    font-family: arial
}
.box{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: solid 2px black;
    background-color: orange;
}
.flex-start{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: flex-start

}
.flex-end{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: flex-end 
} 
.center{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: center
} 
.space-between{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: space-between
}
.space-around{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: space-around
}
.space-evenly{
    display:flex;
    border: solid 2px black;
    background-color: purple;
    margin: 10px 0px;
    justify-content: space-evenly
}
