*{
    padding: 0;
    margin: 0;
    font-family:Helvetica;
    background-color: rgb(249, 211, 217);
}
body {
   
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    flex-direction: column;
    /* gap: 50px; */

}
nav {
    display: grid;
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    font-size: 20px;
    grid: 1fr / repeat(5, 1fr);
    justify-items: center;
    padding: 15px;
}
a {
    color: lightcoral;
    letter-spacing: 3px;
}
a:hover {
    color: white;
    transition: .5s;  
}
.mainphoto { 
    margin: 100px;
    background-image: url(IMG_1964.jpg);
    height: 600px;
    width: 600px;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 200px;
    float: right;
}
.greeting {
    
    position: absolute;
     top: 40%;
    left: 20%; 
    letter-spacing: 3px;
}
span {
    font-style: italic;
    color: white;
    text-transform: uppercase;
   
    
}
h1 {
    color: lightcoral;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h2 {
    color: lightcoral;
     font-size: 30px
}
p {
    color: lightcoral;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-left: 25px;
    padding: 20px;
}
#AboutMe {
    display: flex;
    justify-content: center;
}
#Favorites {
    display: flex;
    justify-content: center;
}
.favoritescontent {
    display: grid;
    gap: 15px;
    height: 20%;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}
#goalcreations {
    display: flex;
    justify-content: center;
}
img {
    width: 100%;
    height: 100%;
    border-radius: 20px
}
.goalscontent { 
    display: grid;
    gap: 15px;
    height: 20%;
    width: 30%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 2fr 2fr 1fr; */
    grid-template-areas:    "bread macarons orange1 orange1 goal"
                            "colorful colorful orange1 orange1 goal"
                            "flowers flowers painting painting goal"
                            "flowers flowers tower cupcakes goal"
}
.bread {
    grid-area: bread;  
}
.macarons {
    grid-area: macarons;
   
}
.orange1 {
    grid-area: orange1;
    
}
.colorful {
    grid-area: colorful;
 
}
.painting {
    grid-area: painting;
    height: 100%;   
}
.flowers {
    grid-area: flowers;
    
}
.tower {
    grid-area:tower;
  
}
.cupcakes {
    grid-area: cupcakes;
    
}
form {
  color: lightcoral;  
}
h3 {
    color: lightcoral;
    margin-left: auto;
    margin-right: auto;
     /* font-size: */
}
button {
    border-radius: 10px;
    margin-left: 10px;
    width: 75px;
    cursor: pointer;
    background-color: lightcoral;
    border: transparent;
    color: white
}


