


body {
 
    
    
    
    
}

nav{
    display: grid;
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    font-size: 20px;
    grid: 1fr / repeat(4, 1fr);
    justify-items: center;
    padding: 10px;
    
    
}
header {
    display: block;
    background-color: rgb(249, 211, 217);
    height: 50vh;
    justify-items: center;
    margin: 100px
}
img {
    width: 50%;
    max-height: 100%;
    float: right;
    border-radius: 20px;
   
    
}
h1{
    display: grid;
    text-align: center;
    letter-spacing: 4px;
    align-items: center
}
.greeting{
    
    color: lightcoral;
}

main{
    display: grid;
    grid: 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "AboutMe . ."
                            "AboutMe . ."
                                "";
    /* justify-items:  center; */
    margin: 100px;
    background-color: rgb(249, 211, 217);
    border-radius: 20px;
    padding: 25px
}
#AboutMe {
    
    color: lightcoral
    
    
 
 /* font-family: ;
 font-size: ; */
}
.aboutme{
    background-color: green;
}
#Plans {
    
    color: lightcoral
    
}
.plans {
    background-color: green;
}
#Blog {
    
    color: lightcoral
    
}
.blog{
    background-color: green;
}
.contactmeform {
    display: grid;
    font-size: 20px;
    color: lightcoral;
    justify-content: center;
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    font-weight: bold;
    
    
    /* font-family: ;
 font-size: ; */
}
.travelphotos{
    display: grid;
    grid: 1fr / 1fr;
    background-color: red;
    
}

button {
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    border-color: lightcoral;
    color: lightcoral;
    font-weight: bold;
    cursor: pointer;
    border-style: double;
}

a {
    color: lightcoral;
    font-weight: bold;
    cursor: pointer;
}
a:link {
    color: lightcoral;
    font-weight: bold;
}
    
a:visited {
    color: lightcoral;
    font-weight: bold;
}    
a:hover{
    color:white



}
a:active {
    color: white
}