*{
    padding: 0;
    margin: 0;
    font-family:Helvetica;
    perspective: 1px;
    
  
}
body {
   
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    
background: linear-gradient(144deg, rgba(240,128,128,1) 0%, rgba(255,192,203,1) 32%, rgba(255,255,240,1) 88%);
    /* gap: 50px; */
    transform-style: preserve-3d

}
nav {
    display: grid;
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    font-size: 19px;
    grid: 1fr / repeat(5, 1fr);
    justify-items: center;
    padding: 15px;
    
}
a {
    color: lightcoral;
    letter-spacing: 3px;
}
a:hover {
    color: #fffff0;
    transition: .5s;  


}
#herocontainer{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
   
    height: 800px;
}
#mid{
    scroll-behavior: smooth;
   
    background-color: #fffff0;
    height: 100%;
    width: 100%
}




.greeting {
 display: flex;   
 
 flex-direction: column;
 align-content: center;
 align-self: center; 
 text-shadow: 2px 2px 5px rgba(0,0,0,0.3)



   

}
#colorchangerbtn{
    
        border-radius: 10px;
        width: 160px;
        
        cursor: pointer;
        background: lightcoral;
        border: transparent;
        color: #fffff0;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        transition-duration: 0.6s;
       
}
#colorchangerbtn:hover, #colorchangerbtn:active {
    
    transform: scale(1.2);

}

.mainphoto { 
    margin: 100px;
    background-image: url(IMG_1964.jpg);
    height: 400px;
    width: 400px;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

span {
    font-style: italic;
    color: #fffff0;
    text-transform: uppercase;
   
    
}
.clickme{

display: flex;
justify-content: center;
margin-top: 40px;

}
#aboutmecontainer {

margin-top: 100px
}



h1 {
    color: lightcoral;
    margin: 20px 0px 20px;
    font-size: 70px;
}
h2 {
    color: lightcoral;
     font-size: 30px
}
p {
    color: lightcoral;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-left: 25px;
    padding: 20px;
}


#AboutMe {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    color: #fffff0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3)
    
}
#Favorites {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    color: #fffff0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3)
}
.favoritescontent {
    display: grid;
    gap: 15px;
    height: 20%;
    width: 30%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}
#goalcreations {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    color: #fffff0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3) 
    /* creates shadow in text */
}
img {
    width: 100%;
    height: 100%;
    border-radius: 20px
}
.goalscontent { 
    display: grid;
    gap: 15px;
    height: 20%;
    width: 30%;
    padding: 20px;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 2fr 2fr 1fr; */
    grid-template-areas:    "bread macarons orange1 orange1 goal"
                            "colorful colorful orange1 orange1 goal"
                            "flowers flowers painting painting goal"
                            "flowers flowers tower cupcakes goal"
}
.bread {
    grid-area: bread;  
}
.macarons {
    grid-area: macarons;
   
}
.orange1 {
    grid-area: orange1;
    
}
.colorful {
    grid-area: colorful;
 
}
.painting {
    grid-area: painting;
    height: 100%;   
}
.flowers {
    grid-area: flowers;
    
}
.tower {
    grid-area:tower;
  
}
.cupcakes {
    grid-area: cupcakes;
    
}
form {
  color: lightcoral;  
}
h3 {
    color: lightcoral;
    margin-left: auto;
    margin-right: auto;
     /* font-size: */
}



/* start animation here --> */

.floatingflower div {
  
   height: 50px;
   width: 50px;
   position: absolute;
   animation: animate 4s linear infinite
   
       
}
.floatingflower div:nth-child(1){

    left: 20%;
    animation: animate 4s linear infinite;

} 
.floatingflower div:nth-child(2){
   
    left: 40%;
    animation: animate 4s linear infinite
}
.floatingflower div:nth-child(3){
    
    left: 60%;
    animation: animate 4s linear infinite
}
.floatingflower div:nth-child(4){
  
    left: 80%;
    animation: animate 4s linear infinite
}
.floatingflower div:nth-child(5){
    
    left: 95%;
    animation: animate 4s linear infinite
}



@keyframes animate{
    0%{
        transform: translateY(0) rotate(60deg);
    }
}


