
body {
 
    
    
    
    
}

nav{
    display: grid;
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    font-size: 20px;
    grid: 1fr / repeat(5, 1fr);
    justify-items: center;
    padding: 10px
    
}
header {
    display: block;
    background-color: rgb(249, 211, 217);
    height: 50vh;
    
    justify-items: center;
    margin: 100px
}
img {
    width: 50%;
    max-height: 100%;
    float: right;
    border-radius: 20px;
   
    
}
h1{
    text-align: center;
    letter-spacing: 4px;
}
.greeting{
    
    background-color: lightcoral;
}

main{
    display: grid;
    grid: repeat(4, 1fr) / 1fr 1fr;
    gap: 10px 10px;
    /* justify-items:  center; */
    grid-template-areas:    "#AboutMe ."
                            ". #Plans"
                            "#Blog .";
    margin: 100px;
    background-color: lightskyblue;
    padding: 25px
}
#AboutMe {
    background-color: blanchedalmond;
    grid-area: AboutMe;
    
 
 /* font-family: ;
 font-size: ; */
}
.aboutme{
    background-color: green;
}
#Plans {
    background-color: blanchedalmond;
    grid-area: Plans;    
   
}
.plans {
    background-color: green;
}
#Blog {
    background-color: blanchedalmond;
    grid-area: Blog;
}
.blog{
    background-color: green;
}
.contactmeform {
    display: grid;
    justify-items: center;
    background-color: rgb(249, 211, 217);
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    /* font-family: ;
 font-size: ; */
}
.submit{
    
}

a {
    color: lightcoral;
    font-weight: bold
}