/* .movieRow {
    
} */

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #141414;
    scroll-behavior: smooth;
}

.movieRow {
    
    width: 100vw;
    margin: 10px;
    font-size: 1.5em;
    color: #e5e5e5;
    scroll-behavior: smooth;
    

    
    
}

.genreName {

    line-height: 1.25vw;
    font-size: 0.9vw;
    vertical-align: bottom;
    display: table-cell;
    padding-bottom: 8px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif
    
    

}

.movies {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow: visible;
    margin-bottom: 17px;
   
    
}

.movie {
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    width: 200px;
    height: 200px
    
    
}

.movie:hover {
    transform: scale(1.5);
    
}

.hoveredMovie{
    width: 400px;
    height: 200px;
    transition: transform 0.2s;
   
    
    
}

.hoverOverview {
    position: absolute;
    background: black;
    transform: scale(120%);
    border-radius: 10px;
    top: linear-gradient( 180deg, transparent, rgba(37, 37, 37, 0.61), #111 );
}

.hoveredMovie:hover {
    
    transform: scale(115%);
    transform: translate3d();
    border-radius: 10px;
   
}

.movieContainter {
    position: relative;
}

.hoveredMovieContents {
    position: relative;
    
   
   
    
}

