.popMovies {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: scroll;
   
    
}

.popMovie {
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    
    
}