#tempDisplay {
  border-style: solid;
  height: 50px;
  width: 200px
}


.container {
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.displayScreen {
  border-style: solid;
  margin-top: 10px;
  width: 400px;
  height: 100px;
}

