
.idcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: lightskyblue;
    width: 600px;
    padding: 30px 5px 30px 40px;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    align-content: center;
    
}

.formcontainer {
    
    height: 300px;
    width: 400px;
    background-color:lightgreen;
    border-style: solid;
    margin: 20px;
    padding: 20px
   

}

#submit{
    cursor: pointer;
    margin: 20px;
    border: transparent;
    background-color: lightseagreen;
    border-radius: 5px;
   
    
}
#idform{
    text-align: center
}
#avatarimage{
    height: 300px;
    width: 250px;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    border-radius: 20px; 
    border-style: solid;
}
.outputcontainer {
    grid-column: 1fr / 2;
    height: 300px;
    width: 250px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: lightgray;
    border-style: double;
    padding: 10px;
      
   
    
 
       
}



