*{
    padding: 0px;
    margin: 20px;
    transition-duration: .7s;
    
}
body {
    background-color: yellowgreen;
}
.square{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: black;
    background-color: yellowgreen;
    cursor: pointer;
    
   
}