 



 .hero {
   width: 100vw;
   height: 400px;
   border: solid yellow;
   padding: 10px;
   color: #e5e5e5;


 }


 .heroTitle {
   font-size: 3rem;
   font-weight: 800;
   padding-bottom: 0.3rem;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
 }

 .heroImage {
   height: 860px;
   position: relative;
   color: white;
   object-fit: contain;


 }

 .playButtonText {
  font-weight: 700;
 }



 .heroContents {
   margin-left: 30px;
   padding-top: 300px;
   height: 300px;
 
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   top: 0;
   width: 35%;
   z-index: 0;
   left: 4%;





 }

 .heroOverview {
   display: block;
   line-height: normal;
   padding-top: 1rem;
   font-size: 1.2vw;
   font-weight: 400;

   height: 80px;
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);

   width: 100%;
   padding-bottom: 1rem;
   font-family: Arial, Helvetica, sans-serif;
   margin-bottom: 20px;
 }

 .heroFade {
   height: 16.5rem;
   background-image: linear-gradient(180deg,
       transparent,
       rgba(37, 37, 37, 0.61),
       #111)
 }

 .heroButtonsContainer {
  
   position: relative;
   z-index: 10;
   display: flex;
   align-items: center;
   height: 80px;



 }



 .heroButtonPlay {
   background-color: white;
   color: black;
   margin-bottom: 1rem;
   margin-right: 1rem;
   border-radius: 4px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   opacity: 1;
   padding: 0.8rem;
   position: relative;
   text-transform: none;
   border: none;
   margin: 0;
   cursor: pointer;
   width: 100px;
   height: 50px
 }



 .heroButtonMoreInfo {


   padding-left: 1.4rem;
   padding-right: 1.4rem;
   background-color: rgba(109, 109, 110, 0.7);
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 0;
   border-radius: 4px;
   justify-content: spa;
   opacity: 1;
   cursor: pointer;
   width: 140px;
   height: 50px;
   margin: 0;
   margin-left: 1rem;
   opacity: 1;
 }


 .heroButtonPlay:hover {
   color: #000;
   background-color: #e6e6e6;
   transition: all 0.2s;


 }

 .heroButtonMoreInfo:hover {

  background-color: #9b9b9b;
  transition: all 0.2s;


}




 .notFound {
   background: red
 }

 .moviePageContents {

   display: flex;
   flex-direction: column;
   align-items: center;




 }

 .trailerTitle {
   color: white;
   font-size: 3rem;
   font-weight: 800;
   padding-bottom: 0.3rem;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
   border: 3px white solid;
   padding: 10px;
   margin-bottom: 20px;
 }

 .youtubeTrailer {
   height: 800px;
   width: 1500px;
   border-radius: 10px;



 }