#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainContainer {
  width: 300px;
  height: 500px;
  display: flex;
  justify-content: center;

  align-items: center;
 
  background: linear-gradient(90deg, rgb(59, 78, 187) 0%, rgb(90, 194, 255) 100%)

}

.count {
  font-size: 100px;
  color: white

}

.direction {
  color: white;
  margin: 10px;
}

.resetbtn {
  background-color: red;
  
}

.increasebtn {
  background-color: rgb(31, 53, 179);
  color: white;
  width: 200px;
  height: 100px
}

.decreasebtn {
  background-color: rgb(31, 53, 179);
  color: white
}
