/* .maincontainer{
    border-style: solid;
    height: 400px;
    width: 300px;
    background-color: lightgreen;
}

#displayscreen {
margin: 20px;
width: 90%;
background-color: lightskyblue;
border-style: solid;
height: 50px;
width: 250px;
text-align: right;
}

.numberbuttons {
margin: 20px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
border-style: solid;
background-color: orange;
height: 150px;
width: 250px

}
/* .operatorbuttons {

border-style: solid;
background-color: lightpink;
height: 150px;
width: 200px

}
 */

 /* button:nth-child(1) {
 border-style: dashed;
 display: block;
 position: relative;
 text-align: center;
 background-color: yellow;
 width: 0;
 border-top: 30px solid red;
 border-bottom: 30px solid green;
 border-left: 30px solid blue;
 border-right: 30px solid yellow
 



 } */

 .maincontainer{
    border-style: solid;
    border-width: 2px;
    height: 450px;
    width: 325px;
    background: rgb(251,238,4);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,3),
            inset 5px 5px 8px rgba(0,0,0,0.5);
      
   
}


 #displayscreen {
    margin: 16px;
    
    
    width: 90%;
    background-color: lightskyblue;
    color: rgb(251,238,4);
    font-size: 50px;
    border-style: solid;
    height: 50px;
    width: 290px;
    text-align: right;
    font-family: calcfont;
    background: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    
    }

.numberbuttons {
 margin: auto;
 margin-top: 0px;
 
 width: 300px;
 height: 300px;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 flex-wrap: wrap;
 display: flex;


}


  button {
   font-family: calcnumfont;
   font-size: 30px;
   background: black;
   color: yellow;
    width: 50px;
    height: 60px;
    cursor: pointer;
    border: none;
    margin: -1px;
    outline: none;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: rotate(90deg);
    transition: background-color 0.5s; 
    
    &:hover {
      background-color: lightyellow;
      color: black;
      

      /* text-decoration-color: black; */
    }
  

    
    
    
    /* border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray; */
}


 
 section {
    display: flex;
    flex-direction: column;
    margin: 0px;
    
   
    
 }

 
 



 @font-face {
   font-family: calcfont;
   src: url(calcfont.ttf);
 }

 @font-face {
   font-family: calcnumfont;
   src: url(ImpressedMetal.ttf)
 }