/* .maincontainer{
    border-style: solid;
    height: 400px;
    width: 300px;
    background-color: lightgreen;
}

#displayscreen {
margin: 20px;
width: 90%;
background-color: lightskyblue;
border-style: solid;
height: 50px;
width: 250px;
text-align: right;
}

.numberbuttons {
margin: 20px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
border-style: solid;
background-color: orange;
height: 150px;
width: 250px

}
/* .operatorbuttons {

border-style: solid;
background-color: lightpink;
height: 150px;
width: 200px

}
 */

 /* button:nth-child(1) {
 border-style: dashed;
 display: block;
 position: relative;
 text-align: center;
 background-color: yellow;
 width: 0;
 border-top: 30px solid red;
 border-bottom: 30px solid green;
 border-left: 30px solid blue;
 border-right: 30px solid yellow
 



 } */

 .maincontainer{
    border-style: solid;
    height: 400px;
    width: 300px;
    background-color: lightgreen;
}


 #displayscreen {
    margin: 20px;
    width: 90%;
    background-color: lightskyblue;
    border-style: solid;
    height: 50px;
    width: 250px;
    text-align: right;
    }

 button {
    width: 50px;
    height: 60px;
    cursor: pointer;
    border: none;
    margin: -5px;
    outline: none;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    rotate: 90deg;
    /* border-top: 5px solid lightgray;
    border-bottom: 5px solid lightgray;
    border-left: 5px solid lightgray;
    border-right: 5px solid lightgray; */

 }


 .numberbuttons{
    
    
    justify-content: center;
    border-style: solid;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    transform: translateX(-100px);
    
    
 }
 section {
    display: flex;
    flex-direction: column;
    margin-left: 50px
    
 }

