

.maincontainer {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  height: 450px;
  width: 325px;
  background: rgb(251, 238, 4);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 3),
    inset 5px 5px 8px rgba(0, 0, 0, 0.5);


}

h1{
  text-align: center;
  font-family: arial;
  text-decoration: overline underline;
  text-transform: uppercase;
  letter-spacing: 5px
  
}

.dark-mode {
  background:  rgb(42, 40, 40) ;
  
  
}

.dark-mode h1{
  color: yellow
}


#displayscreen {
  margin: 16px;
  width: 90%;
  color: rgb(251, 238, 4);
  font-size: 50px;
  border-style: solid;
  height: 50px;
  width: 290px;
  text-align: right;
  font-family: calcfont;
  background: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  /* overflow: hidden; */

}





.hello {
  /* display: inline-block; */
  /* overflow: hidden; */
  white-space: nowrap;
  animation: greeting 2s linear 0s 2 alternate forwards;
}


@keyframes greeting {
  from {
    width: 0;
  }
  to {
    width: 150px;
  }
}

.bee {
  
  width: 75px;
  height: 50px;
  margin-bottom: 20px;
  

}


.beeanimation {
  animation: animate 4s linear infinite;
}



@keyframes animate{
   0%{
       transform: rotate(20deg);
   }
   30%{
      transform: rotate(-30deg)
   }
   
 }




#onoffbtn {
  background: red;
  
  
 
}

#onoffbtn.isOn {
  animation: greeting
}

.numberbuttons {
  margin: auto;
  margin-top: -25px;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

p {
 transform: rotate(-90deg);
 font-size: 21px
 
 

}

#equalbtn{
  background: rgb(93, 180, 209)
  }

button {
  font-family: calcnumfont;
  font-size: 30px;
  background: black;
  color: yellow;
  width: 50px;
  height: 60px;
  cursor: pointer;
  border: none;
  margin: -1px;
  outline: none;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(90deg);
  transition: background-color 0.5s;

  &:hover {
    background-color: lightyellow;
    color: black;
  }
}

section {
  display: flex;
  flex-direction: column;
  margin: 0px;

}

@font-face {
  font-family: calcfont;
  src: url(calcfont.ttf)
}

@font-face {
  font-family: calcnumfont;
  src: url(ImpressedMetal.ttf)
}







