.maincontainer{
  border-style: solid;
  height: 600px;
  width: 400px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center
}

.textbox{
  margin-bottom: 15px
  
}
li {
  border-style: solid;
  margin: 20px;
  font-size: 30px
}
.taskDisplay{
  border-style:solid;
  height: 300px;
  width: 300px;
  margin-top: 30px;
  
}

.taskCountDisplay{
border-style: solid;
margin-top: 10px;
height: 20px;
width: 100px

}

.tasksCompletedDisplay{
  border-style: solid;
  margin-top: 10px;
  height: 20px;
  width: 150px
  
  }
